$color-purple-dark: rgb(34, 36, 75);
$color-purple-light: rgb(140, 140, 159);
$color-white: rgb(250, 250, 250);
$color-primary: rgb(76, 150, 169);
$color-primary-light: rgb(136, 214, 235);
$color-secondary: rgb(134, 95, 180);
$color-secondary-light: rgb(134, 95, 180);
$color-grey-dark: rgba(96, 96, 96, 0.3);
$color-blue-overlay: rgba(76, 150, 169, 0.85);
