*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    45deg,
    $color-primary,
    $color-primary-light
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  margin: 0 auto;
  max-width: 128rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color: $color-white;
}
